<div class="jumbotron jumbotron-fluid bg1">
  <div class="container">
    <h1 class="display-3"><strong>Taking care of your succulents</strong></h1>
    <p class="lead">Succulents are very resilient plants that need only a few things to survive</p>
  </div>
</div>
<div class="container">
  <div class="space">
    <p> </p>
  </div>
  <div class="row">
    <h2>Planting your succulent</h2>
    <p>Lorem ipsum dolor sit amet, vim vivendo patrioque at, habeo nonumy accommodare sea no. Mea ne legere patrioque contentiones, cu vel harum ornatus. Ius prompta officiis et, ad tincidunt conceptam eam. Vim an iriure alienum intellegam, vis ex soleat ornatus, quo modus vocibus cotidieque ut. Vim id vidit tempor scripta, exerci adipiscing cum et.

        Est no idque oportere. Id modo fastidii volutpat his. Sea quaeque definiebas eu, eum ne augue constituto. Impetus ocurreret id mei.

        Te mei sint oporteat dignissim, pro sint simul consulatu id, ex duo nibh nostrum percipitur. Ea quot ipsum has. Eu illum maiorum nam, eos ea singulis mandamus conceptam. Est ei diceret percipit, noster suavitate qui te. Duo ad ludus scriptorem.

        Ea sed clita delectus. Natum fugit ut pri, in debet essent utroque qui. Eam in labore elaboraret, his ex placerat maiestatis. Nostrud laboramus intellegebat eos te, per modus assum doming cu. Quis denique principes ad quo, per eu partiendo periculis erroribus. Usu te alienum gloriatur.

        Nec id graeci facilis. Prompta virtute ne eos, cum ne suas interesset. Tritani molestie maiestatis his an. Minim dissentias no nam, ei dolor scribentur eloquentiam pro, mei no illud fuisset delectus. Legendos perpetua postulant pro an. Est nisl saperet lucilius no, in illud ignota commune duo.
  </p>
  <h2>Watering your succulent</h2>
  <p>
    Lorem ipsum dolor sit amet, vim vivendo patrioque at, habeo nonumy accommodare sea no. Mea ne legere patrioque contentiones, cu vel harum ornatus. Ius prompta officiis et, ad tincidunt conceptam eam. Vim an iriure alienum intellegam, vis ex soleat ornatus, quo modus vocibus cotidieque ut. Vim id vidit tempor scripta, exerci adipiscing cum et.

Est no idque oportere. Id modo fastidii volutpat his. Sea quaeque definiebas eu, eum ne augue constituto. Impetus ocurreret id mei.

Te mei sint oporteat dignissim, pro sint simul consulatu id, ex duo nibh nostrum percipitur. Ea quot ipsum has. Eu illum maiorum nam, eos ea singulis mandamus conceptam. Est ei diceret percipit, noster suavitate qui te. Duo ad ludus scriptorem.

Ea sed clita delectus. Natum fugit ut pri, in debet essent utroque qui. Eam in labore elaboraret, his ex placerat maiestatis. Nostrud laboramus intellegebat eos te, per modus assum doming cu. Quis denique principes ad quo, per eu partiendo periculis erroribus. Usu te alienum gloriatur.

Nec id graeci facilis. Prompta virtute ne eos, cum ne suas interesset. Tritani molestie maiestatis his an. Minim dissentias no nam, ei dolor scribentur eloquentiam pro, mei no illud fuisset delectus. Legendos perpetua postulant pro an. Est nisl saperet lucilius no, in illud ignota commune duo.
  </p>
  <h2>Sunlight requirements</h2>
  <p>
    Lorem ipsum dolor sit amet, vim vivendo patrioque at, habeo nonumy accommodare sea no. Mea ne legere patrioque contentiones, cu vel harum ornatus. Ius prompta officiis et, ad tincidunt conceptam eam. Vim an iriure alienum intellegam, vis ex soleat ornatus, quo modus vocibus cotidieque ut. Vim id vidit tempor scripta, exerci adipiscing cum et.

Est no idque oportere. Id modo fastidii volutpat his. Sea quaeque definiebas eu, eum ne augue constituto. Impetus ocurreret id mei.

Te mei sint oporteat dignissim, pro sint simul consulatu id, ex duo nibh nostrum percipitur. Ea quot ipsum has. Eu illum maiorum nam, eos ea singulis mandamus conceptam. Est ei diceret percipit, noster suavitate qui te. Duo ad ludus scriptorem.

Ea sed clita delectus. Natum fugit ut pri, in debet essent utroque qui. Eam in labore elaboraret, his ex placerat maiestatis. Nostrud laboramus intellegebat eos te, per modus assum doming cu. Quis denique principes ad quo, per eu partiendo periculis erroribus. Usu te alienum gloriatur.

Nec id graeci facilis. Prompta virtute ne eos, cum ne suas interesset. Tritani molestie maiestatis his an. Minim dissentias no nam, ei dolor scribentur eloquentiam pro, mei no illud fuisset delectus. Legendos perpetua postulant pro an. Est nisl saperet lucilius no, in illud ignota commune duo.
  </p>
  <h2>Download a quick guide pdf</h2>
  <div class="container">
    <form class="" action="/caring/download" method="get">
      <button class="btn btn-dark">Download</button>
    </form>
  </div>


  </div>

</div>
