<div class="jumbotron jumbotron-fluid bg1">
  <div class="container">
    <h1 class="display-3"><strong>Taking care of your succulents</strong></h1>
    <p class="lead">Succulents are very resilient plants that need only a few things to survive</p>
  </div>
</div>
<div class="container-fluid">
  <div class="space">
    <p> </p>
  </div>
  <h2>Planting your succulent</h2>
  <div class="row">
    <div class="col col-lg-9">
      <p>
        So you've got your first succulent from the gardening center, now what? The first thing you want to do is take it out of the ugly plastic container and put it in something more aesthetic!
        When picking your pot there are two things you should consider:
        <ol>
          <strong><li>Planters without draining holes</li></strong>
            <ul>
              <li>If your planter doesn't have drain holes, you must make sure to create a draining layer with pebbles. That way your roots don't remain soaked when watering</li>
              <li>It's essential to use well draining soil to prevent the soil getting soaked</li>
              <li>As much as plants like water, succulents don't need that much</li>
            </ul>
          <strong><li>Really big planters</li></strong>
            <ul>
              <li>You should avoid using large planters because the roots will spread out before the succulent can catch up</li>
            </ul>
        </ol>
      </p>
      <p>
        Now that you have your planter ready with soil, time to unroot your succulent from the plastic pot. You can do this by squeezing
        the sides of the plastic pot to free the succulent. Make sure to clean off the excess soil on the plant's roots. Next, make a hole
        in your nice succulent planter, then put the succulent in. Make sure to pat the soil down. Congrats, you planted your first succulent.
      </p>
    </div>
    <div class="col-3">
      <img style="width:18em; height:auto;"src="http://2.bp.blogspot.com/-P_wUb4GKTms/VRiYZ5fFPDI/AAAAAAAAA10/cf7ezW_ZGJs/s1600/succulent%2Bdiy.jpg" alt="">
      <small>image via whatemilysaid.com</small>
      <img style="width:18em; height: auto;"src="http://diy.sndimg.com/content/dam/images/diy/fullset/2015/5/18/0/Original_Chelsea-Costa-Potted-Succulents-Step7_h.jpg.rend.hgtvcom.1280.960.suffix/1431978221186.jpeg" alt="">
      <small>via diynetwork</small>
    </div>
  </div>

  <h2>Watering your succulent</h2>
  <div class="row">
    <div class="col col-lg-9">

      <p>Succulents are named succulents for a reason. They tend to look plump and soft. That's because they like holding on to water! It's actually very easy to take care of succulent watering.
      I call it the forget and remember watering method. The method consists of just forgetting about watering your plant until you remember. They're super resillient so this is fine for them.
      If you want something a little more exact, in summer months, water your succulent every 1-2 weeks and in winter months, water them every 1.5-2.5 weeks.</p>
      <p>Succulents grow best when they have phases of drenches and droughts. You must allow the succulent's soil to completely dry before you water them or you risk overwatering. It's actually very rare
      to underwater your succulent.</p>
      <p>Watering is one of the key items to be concerned about when your planter doesn't have drainage holes. You absolutely do not want the roots to remained soaked otherwise they will rot. So err on the
      side of caution and avoid overwatering them.</p>
      <p>Some pro tips to avoid overwatering the roots:</p>
      <ul>
        <li>Use a few ice cubes to slowly release water into the soil.</li>
        <li>Use a spray bottle to water the succulent</li>
      </ul>
    </div>
    <div class="col-3">
      <img style="width:18em; height: auto;"src="http://worldofsucculents.com/wp-content/uploads/2016/03/Cacti-and-Succulents-Do-Like-Water.jpg" alt="">
      <small>via worldofsucculents.com</small>
    </div>
  </div>
  <h2>Sunlight requirements</h2>
  <div class="row">
    <div class="col-lg-12">
      <p>Succulents generally need 6 hours of sunlight per day. They prefer indirect sunlight because direct sunlight can sunburn them.
      Make sure you succulents get enough light per day otherwise their shape will start to change. </p>
    </div>
  </div>
  <h2>Download a quick guide pdf</h2>
  <div class="row">
    <div class="col">
      <form class="" action="/caring/download" method="get">
        <button class="btn btn-dark">Download</button>
      </form>
    </div>
  </div>



</div>
