<div class="jumbotron jumbotron-fluid bg2">
  <div class="container">
    <h1 class="display-3"><strong>Propgation</strong></h1>
    <p class="lead">Create succulents to give to your friends!</p>
  </div>
</div>
<small>Image credit: Cassidy Tuttle photography</small>
<p></p>
<div class="container-fluid">
  <h2>What is propagation?</h2>
  <div class="row">
    <div class="col-lg-9">
      <p>Propagation is when you take a succulent and create more succulents from it. From plucking leaves from exisiting succulents, you can create a new plant from that leaf.</p>
      <p>Propagation is especially useful for when you want to gift your friends succulents. It could also be useful when you need to save a plant that's becoming too leggy.
      Most succulents can be repropgated.</p>
      <h2>How to propgate your succulents</h2>
      <p>To propagate your succulents, you need to cut the rosette (the top part of the plant) off and set it aside. Then you want to pluck the leaves off of the plant in a manner
      where they do not tear off unevenly. Make sure you're not leaving part of the stem on the leaf or part of the leaf on the stem.</p>
      <p>After you've separated the leaves, you need to set the leaves in indirect sunlight for them to <em>callous</em> You should notice the ends of the leaves drying up.
      Once the tips are completely dry, you can set them onto of a thin layer of quick draining soil. Make sure the ends are propery calloused otherwise the leaf will rot.</p>
      <p>You also want to let the rosette callous up as well, then you can plant it in soil one you see roots starting to emerge.</p>
      <p>Once you have your leaves on the soil, make sure to spray water on them once a week. No need to completely soak the soil.</p>
      <p>You should now notice part of the succulent growing from the leave. A tiny little baby succulent. You want to continue watering once a week until you see the main leaf
      shriveling up. Once it looks completely out of nutrients, you can remove it from the growing plant, then plant the propgated succulent in soil. </p>
    </div>
    <div class="col-3">
      <img style="width: 18em; height:auto;" src="https://cdn.shopify.com/s/files/1/1124/9666/files/Succulent-Propagation-Mandala-1024x1024.jpg?7324828360123531810" alt="">
      <small>image via Leaf and Clay</small>
      <img style="width:18em; height:auto;" src="https://i0.wp.com/sublimesucculents.com/wp-content/uploads/2016/06/joelix-grow-succulents3.jpg?fit=555%2C369&ssl=1" alt="">
      <small>image via Sublime Succulents</small>
    </div>
  </div>
</div>
