<div class="jumbotron jumbotron-fluid bg3">
  <div class="container">
    <h1 class="display-3"><strong>Troubleshooting</strong></h1>
    <p class="lead">Why does my plant look like it's dying?</p>
  </div>
</div>
<small>credit: Cassidy Tuttle Photography</small>
<p></p>
<div class="container-fluid">
  <h2>Underwatering</h2>
  <div class="row">
    <div class="col-lg-9">
      <p>When a succulent is underwatered, the plant's leaves will shrivel up and feel "empty".
      To solve this issue, just water your succulent in the correct increments. Maybe you can set a timer on
      your phone to remind yourself to water the succulent! Be thankful that this is your only problem. Overwatering a succulent
      is much worse!</p>
    </div>
    <div class="col-3">
      <img style="width:18em; height:auto;"src="https://i.redd.it/6e7bjzrn1ymy.jpg" alt="">
      <p> </p>
      <small>via Reddit</small>
    </div>

  </div>
  <h2>Overwatering</h2>
  <div class="row">
    <div class="col-lg-9">
      <p>This is probably the number one cause of succulent death! Novice succulent growers will often mistaken the symptoms of overwatering (wrinkled leaves) to underwatering
      and make the problem much much worse. While overwatered succulent's leaves are very wrinkly, the leaf itself will feel super mushy. This is because when overwatered, the plant's
      cells will die.</p>
      <p>Root rot also occurs from overwatering, so if that happens, you need to unplant your succulent and clip the bottom portion off.</p>
      <p>If you notice yourself watering more than once a week and your plant looks shriveled, water less often.</p>
    </div>
    <div class="col-3">
      <img style="width:18em; height:auto;" src="https://cdn.shopify.com/s/files/1/1124/9666/files/blog_Rotting-Succulent-Leaves-1024x1024.jpg?4874323765800624062" alt="">
      <small>via Leaf and Clay</small>
    </div>

  </div>
  <h2>Plant is getting "leggy"</h2>
  <div class="row">
    <div class="col-lg-9">
      <p>If your plant looks like it's getting super tall, this is not actually a good thing. What your plant is doing is stretching itself out to get more light. Succulents are mostly
      short and dense.
      </p>
      <p> To solve this, there are a few approaches you can take. The approaches depend on whether you want to keep a long plant or a short plant.
        <p>If you care about having a dense, short plant, you can <a href="/propagation">repropagate<a/> your plant. That way you end up with more plants</p>
        <p>If you don't care about your plant looking like a beanstalk, just move the plant to someplace more sunny!</p>
      </p>
    </div>
    <div class="col-3">
      <img style="width:18em; height:auto;" src="https://st.hzcdn.com/simgs/2fb2d03704b03fbb_8-6797/home-design.jpg" alt="">
      <p> </p>
      <small>via GardenWeb</small>
    </div>
  </div>

</div>
